<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Google Tag Manager -->

    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATS Homekraft Pious Orchard | 3BHK+Study Apartments at Sector-150 Noida</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="images/x-icon">



</head>


<body>

    <!-- Google Tag Manager (noscript) -->

    <!-- End Google Tag Manager (noscript) -->

    <!-- navbar starts -->
    <nav>
        <input id="nav-toggle" type="checkbox">
        <div class="logo"><img src="{% static 'images/logo.png' %}" alt=""></div>
        <ul class="links">
            <li><a href="#ahfp">About Project</a></li>
            <!-- <li><a href="#ahfp">ATS Homekraft</a></li> -->
            <li><a href="#amenities">Amenities</a></li>
            <li><a href="#floor-plan">Floor-Plan</a></li>
            <li><a href="#location">Location</a></li>
            <li><a href="#download">Price-List</a></li>
            <li><a href="#contact">Contact Us</a></li>
            <li><a href="tel:+91-7011711497" style="font-size: 12px;font-weight: 400;
                background-color:#00468c;color: white;padding: 5px;border: 1px solid white;">Call Us : <i
                        class="fa fa-phone"></i> +91-7011711497</a>

            </li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    <!-- navbar ends -->

    <!-- banner starts -->

    <div class="bg-img">
        <div class="bottom-right" style="background-color: black; opacity: 0.7; padding: 10px;border-radius: 20px;">
            <h2>
                “ATS Homekraft Pious Orchard” Sector-150, Noida
            </h2>
            <p>
                Presenting 3BHK + Servant Room + Study Room (2350 sq.ft) <br>
                &amp; 5 BHK Servant Room (3200 sq.ft)
            </p>

        </div>

        <form action="/contact_us" method="POST" class="containers" id="enquiry">
            {% csrf_token %}
            <p style="text-align: center; font-size: 22px;margin-top: 2px;font-weight: 600; color: white;">3 &amp; 5 BHK
                Premium Apartments
            </p>
            <p style="text-align: center;  color: white; font-size: 22px;font-weight: 600;"><i class="fa fa-inr"
                    aria-hidden="true"></i> 1.15 Crores* Onwards</p>

            <input type="text" placeholder="Enter Your Name" name="name" required>
            <input type="email" placeholder="Email Id" name="email" required>
            <input type="text" placeholder="Mobile No." name="pno" required>
            <input type="textarea" placeholder="I am interested.." name="desc" required>
            <div class="g-recaptcha" data-sitekey="6Lfe0MEcAAAAALMGmXxoyO_3x4-M_O8W8S-fmenO"
                style="transform:scale(0.87);-webkit-transform:scale(0.87);transform-origin:0 0;-webkit-transform-origin:0 0;">
            </div>
            {% for error in messages %}
            <p style="text-align: center; color: red;font-size: 15px;background-color: white">{{ error }}</p><br>
            {% endfor %}
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    <!-- banner ends -->

    <!-- whatsapp -->
    <a href="https://api.whatsapp.com/send?phone=+917011711497" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <!-- end whatsapp -->
    <!-- pno -->
    <a class="lgscreenphone phonelink" href="tel:+91-7011711497"><img class="phoneicon"
            src="https://freeiconshop.com/wp-content/uploads/edd/phone-flat.png"></a>
    <a class="mbscreenphone phonelink" href="tel:+91-7011711497"><img class="phoneicon"
            src="https://freeiconshop.com/wp-content/uploads/edd/phone-flat.png"></a>
    <!-- pno ends -->

    <!-- fisrt div starts -->
    <section id="ahfp">
        <h1>
            ATS Homekraft Pious Orchard
        </h1>
        <div class="row">
            <div class="contents">
                <p>
                    ATS Homekraft Pious Orchard (RERA No.:- UPRERAPRJ183246) is the new project launched during Navratri
                    2021 which is adjacent to our existing project ATS Homekraft Pious Hideaways. Basically, Pious
                    Orchard can be called as the 2nd phase of Pious Hideaways too, but both have separate RERA approvals
                    and UP-RERA registration numbers. Both the phases (ATS Homekraft Pious Orchard & ATS Homekraft Pious
                    Hideaways) are spread across 18 acres of the land parcels if combined together. ATS Homekraft Pious
                    Hideaways spread across 8 acres (approx) & ATS Homekraft Pious Orchard is spread across 10 acres
                    (approx).

                </p>
                <br> <br>
                <p>
                    If we talk about the unit configurations in ATS Homekraft Pious Orchard, there will be only 2 types
                    of units: 2350 sq.ft. (3 BHK + Study Room + Servant Room) & 3200 sq.ft. (5 BHK + Servant Room).ATS
                    Homekraft Pious Orchard will have only 608 flats in total across 10 towers. There will be 5 towers
                    of 2350 sq.ft. configuration (only 2 units/floor) and 5 towers of 3200 sq.ft. configuration (it also
                    has only 2 units/floor). It means, 304 units each of 2350 sq.ft. & 3200 sq. ft. Tower height
                    would
                    be Stilt + 31 floors & Stilt + 32 floors. So, ATS Homekraft
                    Pious Orchard has comparatively bigger unit layouts than ATS Homekraft Pious Hideaways (which had
                    1400 sq.ft., 1600 sq.ft., and 1675 sq.ft. layouts).
                </p>
                <br><br>


            </div>
            <div class="imgs">
                <img src="{% static 'images/banner-3.jpg' %}" alt="">
            </div>

        </div>
        <div class="row">
            <div class="imgs">
                <img src="{% static 'images/gallery1.jpg' %}" alt="">
            </div>
            <div class="contents">
                <p>
                    ATS Homekraft Pious Orchard is also one of the most spacious & greenest projects of Sector-150
                    Noida, with super-premium amenities. It has a vast central green park of its own and also
                    overlooking the adjoining central park of ATS Homekraft Pious Hideaways. So, if we virtually combine
                    both the central parks, it will look massive from every park facing balconies of both the projects.
                    And that is one of its biggest USPs as well. Whereas on the backside of ATS Homekraft Pious Orchard,
                    balconies will be overlooking the endless views of the Yamuna river crossing through the huge green
                    land bank.

                    ATS Homekraft Pious Orchard, when delivered, will surely be a project to reckon and feel proud of.
                </p>
            </div>
        </div>
    </section>

    <!-- first div ends -->

    <!-- second div starts -->
    <section id="about">
        <h1>
            ABOUT ATS GROUP
        </h1>
        <div class="row">
            <div class="content">
                <p>
                    ATS Group is one of the most reputed and sought after developer that have been building houses with
                    utmost pride, sincerity which led it to become the most trustable builder's brand, especially in
                    NCR. At ATS, each brick that is laid speaks of an immensely unique craftsmanship. ATS group was
                    formed in the year 1998 and has delivered several world class projects across Delhi-NCR, Punjab,
                    Uttar Pradesh, leading it to become a name to reckon with in the real estate sector of India. ATS
                    has a great in-house team of highly qualified designers, engineers, architects foremen, and
                    technicians who bring in renewed passion and craftsmanship to our projects. Our projects are
                    beautifully planned which certainly mesmerized the families living out there. We just don't provide
                    home, but rather provide a great lifestyle that we're sincerely doing since the beginning. ATS has
                    now also ventured into commercial space developments like Malls, High-Streets, Offices etc.
                </p>
            </div>
        </div>
    </section>
    <!-- second div ends -->

    <!-- property highlights starts -->

    <section id="highlights">
        <h1 style="color: #00468c;">
            PROJECT SPECIFICATION
        </h1>
        <div class="row">
            <div class="img">
                <!-- <img src="{% static 'images/ats4.png' %}" alt="" height="300px"> -->
                <h3>WATER CONSERVATION</h3>
                <ul>
                    <li> <i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; Rain Water Harvesting to Recharge and Enhance
                        Ground Water Table </li>
                    <li><i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; Efficient low-flow plumbing fixtures </li>
                    <li><i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; Treatment of waste water generated on site with
                        STP</li>
                    <li><i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; Reuse of STP treated water for flushing and
                        landscape</li>
                    <li><i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; Sprinkler based irrigation </li>
                </ul>
                <h3>ENERGY EFFICIENCY</h3>
                <ul>
                    <li> <i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; Roof with solar reflective material</li>
                    <li><i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; AAC/fly ash bricks for walls</li>
                    <li><i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; Efficient motors and pumps </li>
                    <li><i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; LED/CFL based lighting in common areas</li>
                    <li><i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; Automatic on/off control for site lighting</li>
                </ul>

            </div>
            <div class="img">
                <h3>ENVIRONMENTAL</h3>
                <ul>
                    <li> <i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; Provision for electric charging facility for
                        electric cars</li>
                    <li><i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; Low ozone depleting HCFC based refrigerant</li>
                    <li><i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; No smoking in common areas</li>
                </ul>
                <h3>ARCHITECTURE</h3>
                <ul>
                    <li> <i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; Placement and sizing of windows to allow
                        daylight</li>
                    <li><i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; Shading of windows with balcony to avoid direct
                        heat gain</li>
                    <li><i class="fa fa-hand-o-right"></i> &nbsp; &nbsp; Universal accessible designing and lifts with
                        braille, audio assistance and handrails for all floor levels</li>
                </ul>
                <!-- <ul>

                    <li> <i class="fa fa-hand-o-right"></i> Only Two Apartments per Floor </li>
                    <li><i class="fa fa-hand-o-right"></i> All Units are Central Park facing</li>
                    <li><i class="fa fa-hand-o-right"></i> Low-density Residential Project</li>
                    <li><i class="fa fa-hand-o-right"></i>Situated in the 100% habitat location of Landkraft </li>
                    <li><i class="fa fa-hand-o-right"></i> Located on 14 lanes highway NH-24 (NH9)</li>
                    <li><i class="fa fa-hand-o-right"></i> Most Prominent Upcoming Location</li>
                    <li><i class="fa fa-hand-o-right"></i> Shopping Mall & Highstreet (ATS Khyber Range) adjacent to
                        this society</li>

                    <li><i class="fa fa-hand-o-right"></i>Well-connected to Delhi NCR</li>
                </ul> -->
            </div>
        </div>
        <section id="apartment">
            <h1 style="padding-top: 50px;color: #00468c;">PROJECT HIGHLIGHTS</h1>
            <div class="row">
                <div class="hcontent" style="flex-basis: 45%;">
                    <ul>
                        <li><i class="fa fa-hand-o-right"></i>
                            Each flat will be OVERLOOKING THE BIG & LUSH GREEN central park of ATS Homekraft Pious
                            (Phase 1 & 2, both) which in total is spread across 18 acres
                        </li>
                        <li><i class="fa fa-hand-o-right"></i>
                            International standard LAWN TENNIS ACADEMY - By Leander Paes
                        </li>
                        <li><i class="fa fa-hand-o-right"></i>
                            Only 2 UNITS PER FLOOR
                        </li>
                        <li><i class="fa fa-hand-o-right"></i>
                            Every unit will be park facing as well as backside facing, thereby having180° view with good
                            CROSS VENTILATION.
                        </li>
                        <li><i class="fa fa-hand-o-right"></i>
                            2 units per floor ensure proper SUNLIT in every flat
                        </li>
                        <li><i class="fa fa-hand-o-right"></i>
                            Also, the maximum number of flats will be facing the Yamuna river, at their backside, with
                            ENDLESS VIEWS and a complete green look & calm feel
                        </li>
                        <li><i class="fa fa-hand-o-right"></i>
                            Best-of-class & international standard club ameneties
                        </li>


                    </ul>
                </div>
                <div class="img">
                    <img src="{% static 'images/view.jpg' %}" alt="">
                </div>
            </div>
        </section>
    </section>

    <!-- property highlights ends -->

    <section id="location">
        <h1 style="text-transform: uppercase;">Project Location & Advantages</h1>
        <div class="row">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.014899327286!2d77.48884301500405!3d28.41880728250261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cc1a0fe0f2e13%3A0xd08e65c88033db37!2sATS%20Pious%20Hideaways%20Sector%20150%20Noida!5e0!3m2!1sen!2sin!4v1631955033900!5m2!1sen!2sin"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="row">
            <div class="map">
                <img src="{% static 'images/location.jpg' %}" alt="" height="250">

            </div>
            <div class="advantages">
                <ul>
                    <li> <i class="fa fa-hand-o-right"></i> Sector 150 is an upcoming Sports City of Noida, with all
                        sports amenities, stadiums in this Sector</li>
                    <li><i class="fa fa-hand-o-right"></i> Also, Sector-150 would be the lowest dense (lowest FAR)
                        sector in entire Noida </li>
                    <li><i class="fa fa-hand-o-right"></i> Shaheed Bhagat Singh Park, spread over 40 acres, one of the
                        biggest in Noida is within walking distance </li>
                    <li><i class="fa fa-hand-o-right"></i> It's situated straight on the Noida - Greater Noida
                        Expressway </li>
                    <!-- <li><i class="fa fa-hand-o-right"></i> This Sector-150 already has metro connectivity of NMRC. </li>
                    <li><i class="fa fa-hand-o-right"></i> There is also a proposed high-speed metro line from IGI
                        Airport to Noida Internation Airport, which will pass through Sector-150, Noida </li>
                    <li><i class="fa fa-hand-o-right"></i> Another big USP of this location's connectivity would be the
                        proposed Bullet train route (Delhi -to- Varanasi) which will pass alongside Noida Expressway &
                        Yamuna Expressway, with one of the proposed nearby stations at Knowledge Park-2 (at 3 Km
                        distance from Sector-150)</li>
                    <li><i class="fa fa-hand-o-right"></i>Almost all prominent builders have their presence in
                        Sector-150, Noida like Godrej Properties (3 projects), Tata Value Homes, ATS (5 projects),
                        Homekraft, ACE, Eldeco, Mahagun to name a few. And in fact, few new corporate developers are
                        also coming to Sector 150, with premium & super luxury projects
                    </li> -->

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="advantages">
                <ul>
                    <li><i class="fa fa-hand-o-right"></i> This Sector-150 already has metro connectivity of NMRC. </li>
                    <li><i class="fa fa-hand-o-right"></i> There is also a proposed high-speed metro line from IGI
                        Airport to Noida Internation Airport, which will pass through Sector-150, Noida </li>
                    <li><i class="fa fa-hand-o-right"></i> Another big USP of this location's connectivity would be the
                        proposed Bullet train route (Delhi -to- Varanasi) which will pass alongside Noida Expressway &
                        Yamuna Expressway, with one of the proposed nearby stations at Knowledge Park-2 (at 3 Km
                        distance from Sector-150)</li>
                    <li><i class="fa fa-hand-o-right"></i>Almost all prominent builders have their presence in
                        Sector-150, Noida like Godrej Properties (3 projects), Tata Value Homes, ATS (5 projects),
                        Homekraft, ACE, Eldeco, Mahagun to name a few. And in fact, few new corporate developers are
                        also coming to Sector 150, with premium & super luxury projects
                    </li>
                </ul>
            </div>
            <div class="map">
                <img src="{% static 'images/fview.jpg' %}" alt="" height="400">
            </div>
        </div>
    </section>

    <!-- amenities section starts -->
    <section id="amenities">
        <h1 style="text-transform: uppercase;">Project Amenities</h1>
        <div class="row">

            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/club-5-5e9e3d8c0000000000000000.svg"
                    alt="club house at ats kingston">
                <p>Club House</p>
                <div class="layer">
                    <h3>Club House</h3>

                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/car-parking_open-5e9e62da0000000000000000.svg"
                    alt="kingston health parking">
                <p>Car Parking</p>
                <div class="layer">
                    <h3>Car Parking</h3>
                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/gym-1-5e9e57820000000000000000.svg"
                    alt="ats kingston health gym">
                <p>Gym</p>
                <div class="layer">
                    <h3>Gym</h3>
                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/marriage-hall-arrangement-5e9e51f20000000000000000.svg"
                    alt="ats new project in noida sector 150">
                <p>Banquet Hall</p>
                <div class="layer">
                    <h3>Banquet Hall</h3>
                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/basket-ball-5e9e42980000000000000000.svg"
                    alt="baskitball ground at ats kingston health">
                <p>BasketBall Court</p>
                <div class="layer">
                    <h3>BasketBall Court</h3>
                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/kids-play-area-2-5e9e46e90000000000000000.svg"
                    alt="play are in ats kingston health sector 150 noida">
                <p>Kids Play Area</p>
                <div class="layer">
                    <h3>Kids Play Area</h3>
                </div>
            </div>
        </div>

        <!-- ----------------------------------- -->
        <div class="row">

            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/indoor-game-5e9e3f3b0000000000000000.svg"
                    alt="indoor games in ats noida sector 150">
                <p>Indoor Games</p>
                <div class="layer">
                    <h3>Indoor Games</h3>
                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/power-back-up-2-5e9e487e0000000000000000.svg"
                    alt="power backup noida sector 150">
                <p>Power Backup</p>
                <div class="layer">
                    <h3>Power Backup</h3>
                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/fire-extinguisher-5e9e6d430000000000000000.svg"
                    alt="ats kingston health safety">
                <p>Fire Extinguisher</p>
                <div class="layer">
                    <h3>Fire Extinguisher</h3>
                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/badminton-5e9e50300000000000000000.svg"
                    alt="badminton court at kingston health noida ">
                <p>Badminton Court</p>
                <div class="layer">
                    <h3>Badminton Court</h3>
                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/security-5e9e63890000000000000000.svg"
                    alt="security at ats kingston health noida">
                <p>24x7 Security</p>
                <div class="layer">
                    <h3>24x7 Security</h3>
                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/shopping-centre-5e9e6b0f0000000000000000.svg"
                    alt="sopping center in ats new project in noida">
                <p>Shooping Center</p>
                <div class="layer">
                    <h3>Shooping Center</h3>
                </div>
            </div>
        </div>

        <!-- ----------------------------------- -->
        <div class="row">

            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/cctv-5e9e4fa90000000000000000.svg"
                    alt="ats new project in sector 150">
                <p>CCTV Surveillance</p>
                <div class="layer">
                    <h3>CCTV Surveillance</h3>
                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/gas-pipeline-5e9e44d90000000000000000.svg"
                    alt="ats kingston health noida">
                <p>Gas Pipeline</p>
                <div class="layer">
                    <h3>Gas Pipeline</h3>
                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/kids-pool-5e9e46f90000000000000000.svg"
                    alt="ats new project in noida sec 150">
                <p>Kids Pool</p>
                <div class="layer">
                    <h3>Kids Pool</h3>
                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/swimming-pool-1-5e9e44270000000000000000.svg"
                    alt="ats project in noida sector 150">
                <p>Swimming Pool</p>
                <div class="layer">
                    <h3>Swimming Pool</h3>
                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/elevator-lift-5e9e5a4d0000000000000000.svg"
                    alt="ats kingston health flat">
                <p>Lift</p>
                <div class="layer">
                    <h3>Lift</h3>
                </div>
            </div>
            <div class="amenities-col">
                <img src="https://oxorealty-prod.s3.ap-south-1.amazonaws.com/intercom-1-5e9e64f10000000000000000.svg"
                    alt="pps ats kingston health noida sector 150">
                <p>Intercom</p>
                <div class="layer">
                    <h3>Intercom</h3>
                </div>
            </div>
        </div>

    </section>



    <!-- amenities section ends -->




    <!-- --------------------------------Floor plans -->
    <section id="floor-plan">
        <h1 style="color: #00468c;">FLOOR PLAN</h1>
        <div class="row">
            <div class="floor-col">


                <img src="{% static 'images/3bhk.png' %}" class="img-responsive" alt="3 BHK floor plan "
                    title="3 BHK floor plan (2D-VIEW)" />
                <div id="type">
                    <P>SIZE 2350 SQ FT.</P>
                    <p>
                        3 BHK + Servant Room + Study Room
                    </p>
                </div>
            </div>
            <div class="floor-col">
                <img src="{% static 'images/4bhk.jpg' %}" class="img-responsive" alt="5 BHK floor plan "
                    title="5 BHK floor plan (3D ISOMETRIC-VIEW)" />
                <div id="type">
                    <p>SIZE 3200 SQ FT.</p>
                    <p>
                        5 BHK + Servant Room
                    </p>
                </div>

            </div>

        </div>
    </section>


    <!-- ------------------------Master plan -->
    <section id="master-plan">
        <h1>MASTER PLAN</h1>
        <div class="row">
            <img src="{% static 'images/fp1.jpg' %}" alt="" height="1100" width="600">
        </div>
    </section>

    <!-- why starts -->
    <!-- <section class="why">
        <h1>Why Invest In ATS Homekraft Floral Pathways</h1>
        <div class="row">
            <div class="r1">
                <ul>
                    <li>
                        <i class="fa fa-hand-o-right"></i> It's the 1st ever premium residence launching on NH-24, in
                        Ghaziabad
                    </li>
                    <li>
                        <i class="fa fa-hand-o-right"></i> It's directly facing the upcoming Delhi-Meerut Expressway
                    </li>
                    <li>
                        <i class="fa fa-hand-o-right"></i> Only 2 units/Floor is its biggest USP which makes it a low
                        dense premium project
                    </li>
                </ul>
            </div>
            <div class="r1">
                <ul>
                    <li>
                        <i class="fa fa-hand-o-right"></i> Spread across 5.35 acres with 12 Towers with 85% open area
                    </li>
                    <li>
                        <i class="fa fa-hand-o-right"></i> An upcoming ATS Khyber Range which has a mall & high street
                        is just adjacent to this project
                    </li>
                    <li>
                        <i class="fa fa-hand-o-right"></i> Columbia Asia Hospital is also just adjacent to this
                        residential project
                    </li>
                </ul>
            </div>
        </div>
    </section> -->
    <!-- why ends -->

    <!-- download section starts -->
    <section id="download">
        <h1 style="text-transform: uppercase;color: #00468c;">Download Brochure & Payment Plan</h1>
        <div class="row">
            <div class="bt">
                <button id="popup" onclick="div_show()">Download Brochure</button>

            </div>
            <div class="bt">
                <button id="popup" onclick="div_shows()">Download Payment Plan</button>

            </div>
        </div>
    </section>

    <section id="body" style="overflow:hidden;">
        <div id="abc">
            <!-- Popup Div Starts Here -->
            <div id="popupContact">
                <!-- Contact Us Form -->
                <form action="/contact_us" id="form" method="POST" name="form">
                    {% csrf_token %}
                    <img id="close" src="{% static 'images/crosss.png' %}" onclick="div_hide()" width="30px"
                        height="30px">
                    <h2 id="pop">Please Fill The Form !!</h2>
                    <hr>
                    <input id="name" name="name" placeholder="Name" type="text">
                    <input id="email" name="email" placeholder="Email" type="text">
                    <input id="mobile" name="pno" placeholder="Phone Number" type="text">
                    <textarea id="msg" name="desc" placeholder="I want to get the Brochure"></textarea>
                    <div class="g-recaptcha" data-sitekey="6Lfe0MEcAAAAALMGmXxoyO_3x4-M_O8W8S-fmenO"
                        style="transform:scale(0.85);-webkit-transform:scale(0.85);transform-origin:0 0;-webkit-transform-origin:0 0;">
                    </div>
                    {% for error in messages %}
                    <p style="text-align: center; color: red;font-size: 15px;background-color: white">{{ error }}</p>
                    <br>
                    {% endfor %}
                    <button type="submit" class="btns"
                        style="padding: 16px 20px;cursor: pointer;background-color:black;color: white; border: none;">Submit</button>
                </form>
            </div>
            <!-- Popup Div Ends Here -->
        </div>
        <!-- Display Popup Button -->
    </section>
    <!-- Body Ends Here -->


    <section id="body" style="overflow:hidden;">
        <div id="abcd">
            <!-- Popup Div Starts Here -->
            <div id="popupContact">
                <!-- Contact Us Form -->
                <form action="/contact_us" id="form" method="POST" name="form">
                    {% csrf_token %}
                    <img id="close" src="{% static 'images/crosss.png' %}" onclick="div_hides()" width="30px"
                        height="30px">
                    <h2 id="pop">Please Fill The Form !!</h2>
                    <hr>
                    <input id="name" name="name" placeholder="Name" type="text">
                    <input id="email" name="email" placeholder="Email" type="text">
                    <input id="mobile" name="pno" placeholder="Phone Number" type="text">
                    <textarea id="msg" name="desc" placeholder="I want to get the Payment Plan details"></textarea>
                    <div class="g-recaptcha" data-sitekey="6Lfe0MEcAAAAALMGmXxoyO_3x4-M_O8W8S-fmenO"
                        style="transform:scale(0.85);-webkit-transform:scale(0.85);transform-origin:0 0;-webkit-transform-origin:0 0;">
                    </div>
                    {% for error in messages %}
                    <p style="text-align: center; color: red;font-size: 15px;background-color: white">{{ error }}</p>
                    <br>
                    {% endfor %}
                    <button type="submit" class="btns"
                        style="padding: 16px 20px;cursor: pointer;background-color:black;color: white; border: none;">Submit</button>
                </form>
            </div>
            <!-- Popup Div Ends Here -->
        </div>
        <!-- Display Popup Button -->


    </section>
    <!-- Body Ends Here -->


    <section id="body" style="overflow:hidden;">
        <div id="abcde">
            <!-- Popup Div Starts Here -->
            <div id="popupContact">
                <!-- Contact Us Form -->
                <form action="/contact_us" id="form" method="POST" name="form">
                    {% csrf_token %}
                    <img id="close" src="{% static 'images/crosss.png' %}" onclick="div_hidess()" width="30px"
                        height="30px">
                    <h2 id="pop">Please Fill The Form !!</h2>
                    <hr>
                    <input id="name" name="name" placeholder="Name" type="text">
                    <input id="email" name="email" placeholder="Email" type="text">
                    <input id="mobile" name="pno" placeholder="Phone Number" type="text">
                    <textarea id="msg" name="desc"
                        placeholder="I want to know about the Offers & Discounts details"></textarea>
                    <div class="g-recaptcha" data-sitekey="6Lfe0MEcAAAAALMGmXxoyO_3x4-M_O8W8S-fmenO"
                        style="transform:scale(0.85);-webkit-transform:scale(0.85);transform-origin:0 0;-webkit-transform-origin:0 0;">
                    </div>
                    {% for error in messages %}
                    <p style="text-align: center; color: red;font-size: 15px;background-color: white">{{ error }}</p>
                    <br>
                    {% endfor %}
                    <button type="submit" class="btns"
                        style="padding: 16px 20px;cursor: pointer;background-color:black;color: white; border: none;">Submit</button>
                </form>
            </div>
            <!-- Popup Div Ends Here -->
        </div>
        <!-- Display Popup Button -->


    </section>
    <!-- Body Ends Here -->


    <script>
        //Function To Display Popup
        function div_show() {
            document.getElementById('abc').style.display = "block";
        }
        function div_shows() {
            document.getElementById('abcd').style.display = "block";
        }
        function div_showss() {
            document.getElementById('abcde').style.display = "block";
        }

        //Function To Display Popup
        function div_show() {
            document.getElementById('abc').style.display = "block";
        }
        //Function to Hide Popup
        function div_hide() {
            document.getElementById('abc').style.display = "none";
        }
        function div_hides() {
            document.getElementById('abcd').style.display = "none";
        }
        function div_hidess() {
            document.getElementById('abcde').style.display = "none";
        }

    </script>
    <!-- download section ends -->

    <!-- testimonial section starts -->


    <!--<section class="testimonials">
         <h1>What Our Clients Says?</h1>

        <div class="row">
            <div class="testimonial-col">
                <img src="{% static 'images/mayank-pandey.jpg' %}" alt="">
                <div>
                    <p>
                        I bought a flat in Floral Pathways from an investment point of view due to the brand value
                        of ATS Homekraft and its past track record of unmatched quality of construction and better
                        ROI. I felt it's wise to invest very early in ATS projects to get better returns later,
                        especially nearby or after possession.
                    </p>
                    <h3>Mayank Pandey</h3>
                    <p style="font-size: 12px;font-weight: 800;"><i> (Senior Manager @ Jindal Rectifier, Faridabad)</i>
                    </p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>

            </div>
            <div class="testimonial-col">
                <img src="{% static 'images/mohit-wattal.jpg' %}" alt="">
                <div>
                    <p>
                        Simply a very decent project for an end-use purpose. It meets my requirements in terms of
                        flat layouts, location, and budget. Location & builder's brand is its biggest USP.
                    </p>
                    <h3>Mohit Wattal</h3>
                    <p style="font-size: 12px;font-weight: 800;"> <i> (Vice President @ Sunstone Eduversity)</i></p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>

            </div>

        </div>
        <div class="rows" style="display: flex; justify-content: space-between;">
            <div class="testimonial-col">
                <img src="{% static 'images/akshma-kaul.jpg' %}" alt="">
                <div>
                    <p>

                        The strategic location of ATS Homekraft Floral Pathways on NH-24 is the main reason I decided to
                        book my home here. And of course, the well-reputed ATS brand further solidifies my decision in
                        going ahead with this project
                    </p>
                    <h3>Akshma Kaul</h3>
                    <p style="font-size: 12px;font-weight: 800;"><i> (Software Engineer @ Ericsson, Noida)</i></p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>

            </div>
            <div class="testimonial-col">
                <img src="{% static 'images/rahul-srivastava.jpg' %}" alt="">
                <div>
                    <p>
                        I was looking for investment under ₹ 75-80 Lakhs in residential property for quite a while. This
                        newly launched project ATS Homekraft Floral Pathways serves my purpose. The newly inaugrated14
                        lane Delhi-Meerut Expressway will further boost its prospects in the coming years, for sure.

                    </p>
                    <h3>Rahul Srivastava</h3>
                    <p style="font-size: 12px;font-weight: 800;"><i>(Sr. Software Engineer @ JioSaavn)</i></p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>

            </div>

        </div>
        </div>
    </section> -->


    <!-- testimonial section ends -->

    <!-- --------------------------------Floor plans -->
    <section id="construction">
        <h1 style="color: #00468c;">CONSTRUCTION STATUS (of ATS Homekraft Pious Hideways)</h1>
        <div class="row">
            <div class="cons">
                <img src="{% static 'images/cons1.jpg' %}" alt="">
            </div>
            <div class="cons">
                <img src="{% static 'images/c.jpg' %}" alt="">

            </div>
            <div class="cons">
                <img src="{% static 'images/cons3.jpg' %}" alt="">
            </div>
            <div class="cons">
                <img src="{% static 'images/cons4.jpg' %}" alt="">
            </div>
    </section>

    <!-- contac-us section starts -->
    <!-- --------------CONTACT INFO -->
    <section id="contact">
        <div class="contact">
            <h1 id="head1" style="color:#00468c; font-size: 25px; font-weight: 600;">CONTACT INFO
            </h1>
            <div class="container">
                <div class="contact-items">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/50/000000/phone.png" /></div>
                    <div class="contact-info">
                        <h1>Phone</h1>

                        <h2>+91-7011711497 </h2>
                    </div>
                </div>
                <div class="contact-items">
                    <div class="icon"><img src="https://img.icons8.com/nolan/64/send-mass-email.png" /></div>
                    <div class="contact-info">
                        <h1>Email</h1>
                        <h2>info@atshomekraftfloralpathways.com</h2>

                    </div>
                </div>
                <div class="contact-items">
                    <div class="icon"><img src="https://img.icons8.com/cute-clipart/64/000000/address.png" /></div>
                    <div class="contact-info">
                        <h1>Address</h1>
                        <h2>Sector-150</h2>
                        <h2>Greater Noida</h2>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    </section>
    <!-- contact-us section ends -->


    <!-- FAQ's  -->
    <!-- <section id="faq">
        <h1>FAQ's</h1>
        <div class="row">
            <div class="faq-col">
                <h3>Q - What is the location of ATS Floral Pathways?</h3>
                <p>Ans - ATS Floral Pathways is located on NH-24, Delhi-Meerut Expressway (near Columbia Asia Hospital,
                    Pandav Nagar, Ghaziabad).</p>
                <h3>Q - What is the unit type available in ATS Floral Pathways?</h3>
                <p>Ans - The only unit type is of 3 BHK in ATS Floral Pathways
                </p>
                <h3>Q - What is the unit size in ATS Floral Pathways?</h3>
                <p>Ans - There is only one size of unit layout in ATS Floral Pathways i.e.1720 Sq.ft., 3 BHK + Study
                    Room
                </p>
                <h3>Q - What is the expected price of a 3 BHK in ATS Floral Pathways?</h3>
                <p>Ans - The basic price of 3 BHK in ATS Floral Pathways starts from ₹65 Lac* (approx.)
                </p>
                <h3>Q - What is total land area of ATS Floral Pathways Project?</h3>
                <p>Ans - Total land area of ATS Floral Pathways project is around 5.1 acres.</p>
                <h3>Q - What are the security provisions in ATS Floral Pathways project?</h3>
                <p>Ans - There is best-in-class all round multi-tier security & CCTV surveillance system to be provided
                    in the entire ATS Floral Pathways project.
                </p>
            </div>
            <div class="faq-col">
                <h3>Q - How many towers are there in ATS Floral Pathways?</h3>
                <p>Ans - There are 12 towers in ATS Floral Pathways.</p>
                <h3>Q - How many flats per floor are there in ATS Floral Pathways project?</h3>
                <p> Ans - Only 2 flats per floor are there in ATS Floral Pathways.
                </p>
                <h3>Q - Which are the shopping Malls nearby ATS Floral Pathways project?</h3>
                <p>Ans - ATS is coming up with a mall & highstreet in ATS Khyber Range, on the adjacent plot of ATS
                    Floral Pathways.</p>
                <h3>Q - How many floors are there in each tower of ATS Floral Pathways?</h3>
                <p>Ans - Total Stilt + 34 floors are there in each tower of ATS Floral Pathways.</p>
                <h3>Q - Is ATS Floral Pathways an earthquake resistant project?</h3>
                <p>Ans - Yes, ATS Floral is an earthquake resistant project with R.C.C framed structure being built on
                    Mivan shuttering technology.</p>
                <h3>Q - What is the possession status and possession date of ATS Floral Pathways?</h3>
                <p>Ans - ATS Floral Pathways is a newly launched and an under-construction project. It will be available
                    for possession from 2024 June onwards.</p>
            </div>
        </div>
    </section> -->
    <!-- faqs ends -->

    <section class="footers">
        <img src="{% static 'images/ats-logo.png' %}" alt="" style="width: 150px; height: 60px;">
        <h2 id="para">

            Copyright <i class="fa fa-copyright"></i> 2021 on behalf of ATS Homekraft Pious Orchard. All rights reserved
        </h2>

    </section>

    <table class="footlink" id="footlink_hide">
        <tbody>
            <tr>

                <td style="background-color:#00468c; ">
                    <a href="#enquiry" style="text-decoration: none;color:white;">
                        Enquire Now
                    </a>
                </td>
            </tr>
        </tbody>
    </table>



    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <a class="buttonLink"><button type="button" id="flash" onclick="div_showss()" class="btns btn-large verticalButton"
            style="font-weight: 900;letter-spacing: .3rem;cursor: pointer;">SPECIAL
            OFFERS</button></a>


</body>

</html>